/*---------------about page --------------- */
.hero-content {
    margin-left: 0;
}

.hero-content p {
    font-weight: 300;
    line-height: 36px;
    color: grey;
}

.hero-content p span {
    text-transform: uppercase;
    font-weight: 100;
}

.hero-content h6 {
    text-align: left;
}

.hero-content .professional-info {
    text-align: left;
    color: grey;
}

.hero-content .professional {
    margin-bottom: 20px;
}

@media(max-width: 768px) {
    .hero-content {
        padding-top: 50px;
        width: 96%;
        margin: 0 auto;
    }
}

.about {
    height: 500px;
    margin-top: 120px;
}

.image {
    background: url(https://images.unsplash.com/photo-1540885762261-a2ca01f290f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2468&q=80) no-repeat 50% 70%;
}

.skills span {
    font-weight: 100;
    color: grey;
}

.hobby .fas {
    font-size: 30px;
    color: grey;
    margin-right: 2rem;
}

.hobby .fas span {
    font-family: "Roboto Mono";
    font-size: 1rem;
    font-weight: 300;
    margin-left: 0.75rem;
    position: relative;
    bottom: 0.3rem;
    color: grey;
}

.progress-text {
    display: block;
    width: 170px;
    margin-right: 5%;
}

.progress {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 4px;
    display: flex;
    height: 20px;
    width: 500px;
    margin-top: 4px;
}

.progress-fill {
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #f0f0f0;
    height: 12px;
    width: 0;
    position: relative;
}

.progress .progress-value{
    display: block;
    font-size: 12px;
    color: #0f0f0f;
    position: absolute;
    top: 6px;
    right: 8px;
}

.progress-container {
    display: flex;
    height: 48px;
}

.tech {
    text-transform: uppercase;
    margin-bottom: 8px;
}

.hidden {
    opacity: 0;
}

.progress-fill-1 {
    animation: load1 5s normal forwards 1s;
}

.progress-fill-2 {
    animation: load2 5s normal forwards 1s;
}

.progress-fill-3 {
    animation: load3 5s normal forwards 1s;
}

.progress-fill-4 {
    animation: load4 5s normal forwards 1s;
}

.progress-fill-5 {
    animation: load5 5s normal forwards 1s;
}

@keyframes load1 {
    0% { 
        width: 0; 
    }

    100% { 
        width: 90%; 
    }
}

@keyframes load2 {
    0% { 
        width: 0; 
    }

    100% { 
        width: 85%; 
    }
}

@keyframes load3 {
    0% { 
        width: 0; 
    }

    100% { 
        width: 55%; 
    }
}

@keyframes load4 {
    0% { 
        width: 0; 
    }

    100% { 
        width: 25%; 
    }
}

@keyframes load5 {
    0% { 
        width: 0; 
    }

    100% { 
        width: 75%; 
    }
}

@media(max-width: 1000px) {
    .progress {
        width: 400px;
    }

    .progress-text {
        width: 120px;
    }
}

@media(max-width: 768px) {
    .progress {
        width: 350px;
    }

    .hobby .fas {
        font-size: 20px;
    }
}

@media(max-width: 560px) {
    .progress-container {
        flex-direction: column;
        margin-top: 16px;
    }

    .progress {
        margin-top: 8px;
        height: 16px;
        padding: 0 3px;
    }

    .progress-fill {
        height: 10px;
    }

    .progress .progress-value{
        font-size: 10px;
        top: 5px;
    }
}

@media(max-width: 400px) {
    .progress {
        width: 230px;
    }
}

.is-hidden {
    visibility: hidden;
}

.hero-content .skills .details a {
    text-transform: lowercase;
    text-decoration: none;
    font-weight: 300;
    color: grey;
}

.hero-content .skills .details .details-text {
    text-transform: lowercase;
    font-weight: 300;
    color: grey;
    cursor: pointer;
}

.hero-content .skills .details {
    margin-bottom: 1.5rem;
    margin-left: 2rem;
}

.hero-content .skills .details span {
    font-weight: 700;
}

.details a::after,
.hero-content .skills .details .details-text::after {
    content: "";
    display: block;
    position: relative;
    left: 0rem;
    height: 1px;
    width: 135px;
    background: grey;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

.details a:hover::after,
.hero-content .skills .details .details-text:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

@media(max-width: 560px) {
    .hero-content .skills .details {
        margin-top: 1rem;
    }
}