/*--------------- navigation --------------- */
nav {
    width: 100%;
    background: #0f0f0f;
    height: 80px;
    position: fixed;
    z-index: 1;
}

nav .brand {
    float: right;
    display: block;
    margin-right: 82px;
    line-height: 80px;
    font-weight: 700;
}

nav .brand a {
    color: #fff;
    transition: all 0.3s ease-out;
}

nav .brand a:hover {
    text-decoration: none;
}

.progress-bar {
    position: absolute;
    top: 80px;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    width: 0;
}

nav #menu {
    float: left;
    /* right: 80px; */
    padding: 0;
    position: fixed;
}

nav #menu li {
    padding-left: 40px;
    cursor: pointer;
    font-weight: 300;
    line-height: 80px;
    position: relative;
    display: inline-block;
    transition: all 0.3s ease-out;
}

nav #menu li span {
    font-weight: 700;
}

nav #menu li a {
    color: #fff;
    text-decoration: none;
}

nav #menu li a::after {
    content: "";
    display: block;
    position: relative;
    bottom: 1.35rem;
    left: 0.1rem;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

nav #menu li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

#menu-btn {
    position: absolute;
    left: 30px;
    top: 25px;
    font-weight: 300;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
    content: '';
    position: absolute;
    top: 15px;
    width: 35px;
    height: 2px;
    background: #fff;
    transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
    transform: translateY(-8px);
}

.menu-btn-burger::after {
    transform: translateY(8px);
}

.menu-btn.open .menu-btn-burger::before {
    transform: rotate(45deg);
}

.menu-btn.open .menu-btn-burger::after {
    transform: rotate(-45deg);
}

.close-btn {
    position: absolute;
    right: 16px;
    font-weight: 300;
    z-index: 2;
    cursor: pointer;
    top: -2px;
    line-height: 80px;
}

.resize {
    z-index: 1;
    top: 80px;
    position: fixed;
    background: #0f0f0f;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-out;
}

.resize #menu {
    height: 90px;
    position: absolute;
    left: 45%;
    transform: translateX(-40%);
    text-align: center;
    display: table-cell;
    vertical-align: center;
}

.resize #menu li {
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 50px;
    min-height: 50px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.resize li:nth-child(1) {
    margin-top: 60px;
}

.resize #menu li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.resize #menu li a::after {
    content: "";
    display: block;
    position: relative;
    bottom: -0.3rem;
    left: 0.1rem;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

.resize #menu li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.resize.active {
    visibility: visible;
    opacity: 1;
}

@media(max-width: 768px) {
    #menu-btn {
        visibility: visible;
        opacity: 1;
        margin-bottom: 6px;
        margin-right: 4px;
        color: #fff;
    }

    nav .brand {
        margin-left: 24px;
    }

    #menu a {
        font-size: 20px;
        font-weight: 300;
    }

    .resize li span {
        font-weight: 700;
    }

    nav #menu {
        display: none;
    }
}

@media(min-width: 768px) {
    .resize {
        visibility: hidden !important;
    }
}